/* src/styles/SearchBar.css */
.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .search-bar {
    padding: 10px;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--card-background);
    border: 1px solid var(--primary-color);
    border-radius: 4px 0 0 4px;
    width: 300px;
  }
  
  .search-button {
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-button:hover {
    background-color: var(--button-hover-color);
  }
  